/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #008080;; /* Light aqua background */
  color: #333;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: gray;
  color: #fff;
  padding: 0.5rem 1rem;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo h1 {
  margin: 0;
  font-size: 2rem;
}

.contact-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 1.1rem;
  font-weight: bold;
  line-height: 1.6;
}

h2{
  text-align: center;
}
.menu-section {
  margin: 2px;
  padding: 10px;
}

.menu-table {
  width: 100%;
  margin-top: 5px;
   
}

.menu-table th {
  padding: 8px;
  text-align: left;
  font-weight: bolder;
  
}

.menu-table td {
  padding: 8px;
  text-align: left;
  
}

.menu-table td.price,
.menu-table th:nth-child(2),
.menu-table th:nth-child(4) {
  text-align: center;
}
.price {
  text-align: center;
}

.menu-table th {
  background-color: #008080; /* Teal */
  color: #fff;
}
 