/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #008080;
  color: white;
  padding: 0.5rem 1rem;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo h1 {
  margin: 0;
  font-size: 2rem;
}

.contact-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 1.1rem;
  font-weight: bold;
  line-height: 1.6;
}

/* Section Titles */
h2 {
  text-align: center;
  color: black;
  margin: 20px 0 10px;
}

/* Menu Section */
.menu-section {
  margin: 0px;
  padding: 1px;
}

/* Menu Table */
.menu-table {
  width: 100%;
  margin-top: 5px;
  table-layout: fixed; /* Forces columns to have equal widths */
  border-collapse: collapse; /* Merges table borders for cleaner look */
}

/* Table Headings and Cells */
.menu-table th,
.menu-table td {
  width: 25%; /* Each column will take up 25% */
  padding: 4px;
  white-space: nowrap; /* Prevents text from breaking into multiple lines */
  text-align: left;
}

/* Special Styling for Price Columns */
.menu-table td.price,
.menu-table th:nth-child(2),
.menu-table th:nth-child(4) {
  text-align: center;
}

/* Additional Styling for Table Headings */
.menu-table th {
  font-weight: bolder;
  font-size: larger;
  color: #008080;
}

 
 
